# local package
-e .

# external requirements
click
Sphinx
coverage
#awscli>=1.29.0
flake8
pandas
#logging
numpy 
pathlib 
scikit-learn
seaborn
imbalanced-learn
imblearn
joblib
#sys
#json
mlflow
fastapi==0.109.0
pydantic==2.5.3
pytest==7.4.4
python-multipart==0.0.6
requests==2.31.0
httpx
psycopg2-binary